# Compiled Objects #
####################
*.o
Blobby3D
pyblobby3d/dist/
pyblobby3d/build/
pyblobby3d/src/*.egg-info/
__pycache__/

# Ad Hoc Tests #
################
tests/

# Ignore particular examples #
##############################
data/
examples/*/
!examples/485885/
!examples/485885-windowed/
!examples/485885-oldmeta/

# Data/Results #
################
*.fits
*.par
*.pdf
*.png
*.jpg
*.npy
*.pbs
*.ini
*.txt
!var.txt
!data.txt
!metadata.txt
!metadata_new.txt

# Temporary Files #
###################
*#
*~

# Batch Files #
###############
*.pbs
examples/*/*.pbs.*

# Miscellaneous #
#################
.DS_Store
*.icloud
.spyproject
.idea/
*.json
